.navbar {
  margin:0;
}
.wrap {
  padding:0;
  margin:0;
}
/*head*/
.header-right {
  padding: 0;
  // background: linear-gradient(70deg, black, gray);
}
.header-right .navbar {
  border-radius: 0;
}
.header-center {
  height:50px;
  margin-left:35%;
  line-height: 50px;
  color:#fff;
}
.header-left {
  background: #000;
  text-align: center;
}
.header-right-ul {
  float:right;
}
/*end head*/
/*sprite*/
$spriteWidth: 140px; // 精灵宽度
@keyframes run {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -($spriteWidth * 12) 0; // 12帧
  }
}
#sprite {
  width: $spriteWidth;
  height: 144px;
  background: url("../img/sprites.png") 0 0 no-repeat;
  animation: run 0.6s steps(12) infinite;
}
/*end sprite*/
