@charset "utf-8";
@font-face {
	font-family:f-gm;
	src:url(../fonts/GOTHAM-MEDIUM.TTF);
}
@font-face {
	font-family:f-gb;
	src:url(../fonts/GOTHAM-BOLD.TTF);
}
@font-face {
	font-family:f-sfr;
	src:url(../fonts/System-San-Francisco-Display-Regular.ttf);
}
html{
	height:100%;
}
body {
	margin:0;
	height:100%;
	background-image:linear-gradient(136deg, #ff9e7f 0%, #ffc86d 100%);
	perspective:1600px;
	font-size:20px;
	transition:.5s;
}
a {
	text-decoration: none;
	color:#fff;
}
h2,p {
	margin:0;
}
ul {
	padding:0;
	margin:0;
	list-style:none;
}
i {
	font-style: normal;
}
#wrap {
	position:relative;
	font-family:f-sfr;
	transform-style: preserve-3d;
	height:100%;
}
.Hheader {
	height:40px;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,0.3);
	position:relative;
	z-index: 999;
}
.Hleft,
.Hcenter,
.HNav {
	display: inline-block;
}
.logo {
	display: inline-block;
	height:100%;
	width:60px;
	text-align:center;
	cursor:pointer;
	border-right:1px solid rgba(255,255,255,0.3);
	font:20px/40px GOTHAM-LIGHT;
	transition:.25s;
}
.logo:hover {
	background:#fff;
	color:#000;
}
.login {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 999;
    display: none;
}
.takeIn {
	position:absolute;
	width:600px;
	height:400px;
	top:100px;
	left:-500px;
	opacity:0;
	transition:.5s;
	background: #fff;
	overflow: hidden;
}
.takeIn .addUser {
	color:red;
}
.takeIn h4 {
	margin: 49px auto;
    width: 200px;
    font: 40px/44px arial;
    font-family:f-sfr;
}
.close-login {
	position:absolute;
	right:20px;
	top:20px;
	width:50px;
	height:50px;
	font:34px/50px arial;
	color:#000;
	text-align: center;
	transition: .5s;
}
.close-login:hover{
	transform: rotateZ(360deg);
}
.Hlist {
	display: inline-block;
	color:#fff;
	margin-left: 20px;
	height: 100%;
	line-height: 40px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	font-size: 14px;
	transition:.25s;
}
.Hlist:hover {
	color:#7e7bd3;
}
.Hright {
	position:absolute;
	right:25px;
	top:0;
	height:100%;
}
.searchBtn {
	float:left;
	width:74px;
	height:100%;
	border-left:1px solid rgba(255,255,255,0.3);
	border-right:1px solid rgba(255,255,255,0.3);
	font:bold 18px/40px GOTHAM-LIGHT;
	text-align:center;
	transition:.25s;
}
.searchBtn:hover {
	background:#fff;
	color:#000;
}
.Hlogin {
	float:left;
	width: 90px;
	height:100%;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    border-right:1px solid rgba(255,255,255,0.3);
}
.Hlogin a {
	display:inline-block;
	width: 100%;
	height:100%;
	transition: .25s;
	font-size:18px;
}
.Hlogin a:hover {
	background:#fff;
	color:#000;
}

.Hbuy {
	float:left;
	cursor: pointer;
	width: 75px;
	height:100%;
}
.Hbuy a {
	display:inline-block;
	width:100%;
	height:100%;
	text-align:center;
	line-height: 40px;
	transition:.25s;
}
.Hbuy a:hover{
	background:#fff;
	color:#000;
}
.Hpart {
	position:absolute;
	right:30px;
	top:60px;
	z-index: 5;
}
.Hpart a {
	display: inline-block;
	box-sizing: border-box;
	height:30px;
	border: 1px solid #FFF;
	border-radius: 3px;
	font:12px/20px GOTHAM-MEDIUM;
	font-family:f-gb;
	padding:5px 10px;
	transition:.25s;
}
.free:hover {
	color:#000;
	background: #fff;
}
.pay {
	color:#000;
	background: #fff;
}
.pay:hover {
	color:#fff;
	background: none;
}
.Hpage {
	height: 100px;
	width:100px;
    position: absolute;
    top:45%;
    left:100px;
    font-family:f-gb;
    z-index:5;
}
.Hpagen {
	height: 100px;
	width:100px;
    position: absolute;
    overflow: hidden;
}
.nowPage {
	position:absolute;
	width:900px;
	left:0;
	cursor:pointer;
	transition:.5s;
}
.nowPage span {
	width:130px;
	display: inline-block;
	margin-right:50px;
	font-size:80px;
	line-height: 70px;
	color:#fff;
	transition:.25s;
}
.nowPage span:hover {
	color:#000;
}
.allPage {
	position:absolute;
	left:50px;
	height:60px;
	border-left:4px solid rgba(250,250,250,.3);
}
.allPage span {
	position: absolute;
    opacity: 0.5;
    color: #fff;
    font-size: 21px;
    left: 7px;
    bottom: -4px;
}
#cont {
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	overflow: hidden;
}
.cont-four {
	position:relative;
	height:400%;
	transition: .7s;
	top:0;
}
.Hcont {
	font-family: f-gb;
	position: relative;
	top:212px;
    width: 284px;
    height: 212px;
    margin:0 auto;
    font-size:21px;
    text-align:center;
    line-height: 64px;
    margin-bottom:230px;
    box-sizing: border-box;
    transform: rotateY(0deg) rotateX(5deg);
    transform-style: preserve-3d;
}
.Hcont .Hh2 {
	border: 5px solid #353535;
}
.Hcont p {
    margin: auto;
    margin-top: 43px;
    text-align: center;
    width: 220px;
    color: white;
    font-size: 13px;
    line-height: 14px;
    font-family: f-sfr;
    transform: translateZ(20px);
}
.HpartF {
	position:relative;
	width:100%;
	height:972px;
	transition:.2s;
}
.two-inner {
	position:relative;
	top:212px;
	width:454px;
	height:284px;
	-border:1px solid #000;
	margin:0 auto;
	text-align:center;
}
.two-inner h2 {
	font:bold 35px/42px arial;
	font-family:f-gb;
}
.two-inner input {
	margin:70px 0 70px 8px;
	width:354px;
	height:28px;
	font:22px/28px arial;
}
.two-inner a {
	display: inline-block;
	width:42px;
	height:42px;
	border-radius: 50%;
	border:1px solid #fff;
	margin-left:10px;
	font:22px/42px arial;
	font-family: f-gb;
	transition:.3s;
}
.two-inner a:hover {
	background:#fff;
	color:darkgoldenrod;
}
.list {
	position:absolute;
	border:1px solid #000;
	border-top:none;
	width:78%;
	left:24px;
	top:145px;
	height:0;
	overflow: hidden;
	background: #fff;
	transition:.5s;
	text-align:left;
}
.list li {
	font:14px/18px arial;
	padding:5px 5px;
}
.list a {
	color:#000;
	width:100%;
	height:18px;
	font:16px/18px arial;
}
.Hbtn {
	width: 120px;
	height: 40px;
	margin:20px auto;
	position: relative;
	transform: translateZ(40px);
}
.Hbtn a {
	position: absolute;
	left:0;
	width:100%;
	height:100%;
	background: #fff;
    border-radius: 3px;
    color: #353535;
    font-size: 10px;
    line-height: 40px;
    cursor: pointer;
}
.Hbtn span {
	width: 28px;
    height: 22px;
    top:15px;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
}
.Hbtn .left {
	left:0;
}
.Hbtn .right {
	right:0;
}
.changeP {
	top:0;
	left:0;
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	display: none;
	z-index: 999;
}
.yema {
	position:absolute;
	width:716px;
	height:212px;
	background: #fff;
	top:50%;
	margin-top:-106px;
	z-index: 888;
	left:-566px;
	opacity: 0;
	transition:.5s;
}
.yema-num span {
	float:left;
	font:142px/212px arial;
	margin:0 22px;
	font-family:f-gb;
	cursor: pointer;
	transition:.25s;
}
.yema-num .active {
	color:darkgoldenrod;
}
.yema-num span:hover{
	color:darkgoldenrod;
}
.page-back {
	position:relative;
	float:left;
	margin:10px 0;
	height:198px;
	width:200px;
	border-left:4px solid rgba(0,0,0,.4);
	z-index: 999;
}

/*===============引入=====================*/
.cMove {
	width:184px;
	height:32px;
	position:absolute;
	bottom:22px;
	left:12px;
	z-index: 999;
}
.y-move {
	position:absolute;
	width:28px;
	height:28px;
	cursor: pointer;
	border-radius: 50%;
	border:1px solid #000;
	font:14px/28px GOTHAM-LIGHT;
	text-align:center;
	color:#fff;
}
.y-wait {
	position:absolute;
	right:0;
	width:28px;
	height:28px;
	border:1px solid #000;
	border-radius: 50%;
	text-align: center;
}
.inner {
	display: inline-block;
	width:24px;
	height:24px;
	border-radius: 50%;
	margin-top:2px;
	background:rgba(0,0,0,.5);
	
}
.y-li {
	position: absolute;
	color:#000;
	left:18px;
	top:12px;
}
.y-li li{
	width:4px;
	height:4px;
	float:left;
	margin:0 5px 0;
	background:#000;
	border-radius: 50%;
}
.y-li li:nth-of-type(1) {
	margin-left:22px;
}
/*=======================================*/
.H-down {
	position:absolute;
	bottom:0;
	width:56px;
	height:100px;
}
.H-reol {
	width:56px;
	height:56px;
	border-radius: 50%;
	box-sizing: border-box;
	border:2px solid rgba(250,250,250,.6);
	cursor: pointer;
	font:28px/58px GOTHAM-LIGHT;
	font-family: f-gb;
	color:#fff;
	text-align: center;
	transform: rotateZ(180deg);
}
.H-down span {
	position:absolute;
	bottom:0;
	left:25px;
	width:3px;
	height:35px;
	background:rgba(250,250,250,.6);
}
.inner-btn {
	width:100%;
	height:100%;
}
.inner-btn li {
	float:left;
	position:relative;
	width:85px;
	height:85px;
	margin:10px;
	box-sizing: border-box;
	cursor: pointer;
	transition:.25s;
	font:22px/85px arial;
	text-align:center;
	color:#fff;
}
.inner-btn h3 {
	padding:0;
	margin:0;
	position:absolute;
	font:12px/14px arial;
	bottom:8px;
	margin-left:25px;
}
.inner-btn li:hover {
	transform: scale(1.5);
	background: #fff;
	border-radius: 20px;
	color:#000;
	box-shadow: -4px 4px 5px 3px rgba(0,0,0,.3);
}
.down-hide {
	position:absolute;
	bottom:0;
	width:56px;
	height:106px;
	overflow: hidden;
	z-index: 10;
}
.threePart {
	width:426px;
	height:320px;
}
.mnanimate {
	float:left;
	width:142px;
	height:106px;
	background: #f84f4f;
	border-radius: 70px 96px 106px 71px/48px 71px 61px 83px;
	transition: .5s;
	cursor:none;
}
.threePart .p2 {
	border-radius: 69px 189px 156px 100px/17px 109px 74px 144px;
	background: #febc49;
}
.mnanimate:hover {
	border-radius: 5px;
}
.all-list {
	transform-style: preserve-3d;
	position:absolute;
	left:60px;
	
}
.all-list li {
	width:154px;
	height:24px;
	border:2px solid #fff;
	background: #fff;
	padding-left:5px;
	font-family: cursive;
}
.list-ul {
	display: none;
}
#svg-unlock {
	height: 29%;
    z-index: 6;
    bottom: 0;
    right: 0px;
    opacity: 1;
    position:fixed;
    transition:.5s;
}
#svg-wave {
	fill: #fff;
	position:fixed;
	bottom: 0;
    right: 0px;
}
.animation-to-section {
	transition:.5s;
}
#Boxbg {
	position:absolute;
	left:60px;
	top:150px;
}
.denglu {
	width:600px;
	position:relative;
	transition: .6s;
	left:0;
}
.zhuce {
	width:600px;
	position:absolute;
	transition: .6s;
	left:600px;
	top:120px;
}
.loginD {
	width:250px;
	margin:0 auto;
	text-align: center;
	
}
.loginD div {
	margin-bottom:20px;
	position: relative;
}
.loginD .v1 {
	border:none;
	border-bottom:2px solid pink;
	outline: none;
	width:100%;
	height:30px;
	font:24px/26px arial;
	font-family:f-sfr;
	position:relative;
	z-index:6;
	background: none;
}
.take-in {
	display: none;
}
.take-in p{
	margin:120px auto;
	text-align: center;
}
.take-in a {
	color:blue;
}
.loginD span {
	position: absolute;
	bottom:0;
	font:26px/28px arial;
	font-family:f-sfr;
	transition:.4s;
}
.loginNow {
	width:80px;
	height:80px;
	border-radius: 50%;
	background:deeppink;
	cursor: pointer;
	outline: none;
	font:30px/80px arial;
	color:#fff;
	font-family:f-sfr;
}
.addfh {
	color:#000;
}
